
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* Custom Color Classes:  Forest Theme*/
.navy-blue-ft{color: #0A2740;}

.navy-blue-bg{background-color: #0A2740;}

.navy-blue-bdr{border: 1px solid #0A2740;}

.dark-green-ft{color: #34401A;}

.dark-green-bg{background-color:#34401A;}

.dark-green-bdr{border: 1px solid #34401A;}

.green-ft{color: #525919;}

.green-bg{background-color: #525919;}

.green-bdr{border: 1px solid #525919;}

.light-green-ft{color: #687319;}

.light-green-bg{background-color: #687319;}

.light-green-bdr{border: 1px solid #687319;}

.yellow-green-ft{color: #D9CD23;}

.yellow-green-bg{background-color: #D9CD23;}

.yellow-green-bdr{border: 1px solid #D9CD23;}

/* ****************************************** */

h1, h2, h3, h4, h5 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

p , ul li{
    font-family: Arial, Helvetica, sans-serif;
}

.card-header{
    color: #fff;
   
}

/* .card-body h1{
    color: #fff;
} */

.btn-primary {
    color: black;
    background-color:#D9CD23;
   
}

.btn-primary:hover{
    color: #fff !important;
    border-color: #fff !important;
    background-color: #34401A !important;

    
}
.btn-primary:active:focus{
    background-color: #0A2740 !important;

}


div.button {
    position: absolute;
    bottom: 1.25rem;

  }

.card-body-2, .card-body-3{
    position: relative;
}  
.card-body-2 button, .card-body-3 button{
    position: absolute;
    bottom: 1.25rem;
    width: calc(100% - 2.5rem);
}

